{% extends "base.html" %}

{% block title %}Resume screening{% endblock %}

{% block content %}
<div class="predict-container">
    <h1 style="margin-bottom: 50px;">RESUME SCREENING</h1>
    <form action="{{ url_for('resume_screening')}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="resume">Upload resume (PDF):</label>
            <input class="submit-button" type="file" id="resume" name="resume" accept="application/pdf" required>
        </div>
        <div class="form-group" style="margin-top: 15px;">
            <button type="submit" class="submit-button">Upload</button>
        </div>
    </form>

    <div style="margin-top: 30px;">
        <p>{{ text_name_rs }}</p>
        <p>{{ text_email_rs }}</p>
        <p>{{ text_role_rs }}</p>
    </div>
</div>
{% endblock %}